[2016-09-24 05:35] caroso1222 opened #1 "Alert conflicting with Bootstrap alert"
When an alert is created, a classname `notyf alert` is assigned to the element. The class `alert` is a special class in Bootstrap so it's setting an additional padding making the card look pretty big.

Fix this by either changing the class name or manually setting `padding:0` to the `alert` element.

[2017-01-03 12:29] milosdjakonovic commented on #1
Nice lib!
About this issue, can it be solved by changing `card.className` to `Notyf_alert` (for example) [here](https://github.com/caroso1222/notyf/blob/master/src/notyf.js#L36) and in scss source?

As the matter of fact, all notyf's css class names may be prefixed this way ( `Notyf_` ), to avoid conflicts.

[2017-01-03 17:50] caroso1222 commented on #1
You're right man thank you for suggesting that. Been away these holidays, but now I'm back to it. Gonna fix that in no time. I think I'm going to follow [BEM methodology](https://en.bem.info/methodology/css/) for consistency.

[2017-01-03 19:02] caroso1222 commented on #1
Resolved in https://github.com/caroso1222/notyf/commit/45e327273fb8d3524f15ab56f75dcb36d35d489a by using BEM methodology for CSS classes.

[2017-01-03 19:02] #1 closed

[2017-01-26 17:16] axyxnz opened #3 "Add support for Bower"
Hey,

Cool nifty plugin. Some JavaScript frameworks still rely on Bower package manager to manage and import plugins in the project. I would love to see support for Bower.

[2017-02-13 11:01] preeteshjain opened #5 "Fix support for Webpack"
I am using Notyf with Webpack. Here's how I installed Notyf:

[code]

Then I used this code in my [VueJS](http://vuejs.org) component to initialize (`require`) Notyf:

[code]

I got the following error:

[code]

I have also tried:

[code]

Which didn't work either.

Can anyone help me getting this to work with VueJS and Webpack? I have used other libraries this way too, and they work just fine. Th

[2017-02-13 15:43] caroso1222 commented on #5
I've never worked with Vue but I'm going to take a look at it.

[2017-02-14 06:34] preeteshjain commented on #5
@caroso1222 Okay. Let me know if you get it to work. I want to know where I am going wrong.

[2017-02-19 17:33] caroso1222 commented on #5
@preeteshjain

**TL;DR**
It's fixed. Now you can import Notyf via `var Notyf = required('notyf')`

**Some thoughts**
The problem was you weren't specifying which particular file you were trying to require the module from. I tried `var Notyf = require('notyf/src/notyf')` and worked like a charm. I know this not as clean as we would like to import our modules, so I added the module export at the ent

[2017-02-19 17:33] #5 closed

[2017-02-19 17:57] caroso1222 commented on #3
Closing as it's resolved in https://github.com/caroso1222/notyf/pull/4

[2017-02-19 17:57] #3 closed

[2017-02-20 09:02] ConsoleTVs opened #6 "Notification delay"
hello! The delay option should be renamed to duration in my opinion, and a new simple "delay" should be added to prevent overlapping, for example; if you add 3 notifications at the same time (alert for example) they all appear and dissapear at the same time, when in fact, setting up a diferent duration or delay to dissapear to each one, should fix it.

It can be done creating multiple instances in

[2017-02-22 10:49] preeteshjain commented on #5
Yes, I too think `var Notyf = require('notyf/src/notyf')` is not a good approach.

Anyway, I'm glad that now it works as expected.

[2017-03-23 22:20] mmokross opened #7 "Extensions: warn & separate delay values"
Hello,

I hope it is ok for you, that I forked your repository and made some extensions:
* enable warn notifications
* separate delay values

I'm not sure, if you can merge these extensions back into your repository.

If you like, you find it at: https://github.com/wolfheart/notyf-extended

Thank you for your original notyf.
Michael

[2017-03-26 16:05] caroso1222 commented on #7
@wolfheart Wow this is so goood! Thank you for that! Would you like to create a PR for this? or is it good for you that I take from your code and complement Notyf to release a new version (with respective credits, obviously)?

Thanks again, good job!

[2017-04-19 20:09] jcalixte opened #11 "Add yes and no callbacks"
Hi,

First of all, thank you for this dead simple lib.

I just have one request, is it possible to add buttons et callback options to confirm and alert methods?

Thank you

Julien

[2017-04-28 22:33] toish commented on #11
Personally I think this runs against the purpose of this library, sounds like you want more of a dialog then a notification. Check out [Vex](https://github.com/hubspot/vex) or [Alertify](http://alertifyjs.com/) for super-custom dialogs

[2017-05-02 04:14] scttcper opened #12 "large monitor css issue"
![kapture 2017-05-01 at 21 11 27](https://cloud.githubusercontent.com/assets/1400464/25603707/cf8592b2-2eb2-11e7-80de-9a13e59e1740.gif)

I'm emulating a wide monitor here with dev tools, but it also didn't display correctly on my ultrawide windows setup. Its not reaching the side and then on the .disappear it stretches. Hope that makes sense, cool library!

[2017-05-15 23:28] jcalixte commented on #11
Well, I have to agree with you, this library do one thing and it do it right.
Thank you for your refs!

[2017-05-29 10:20] otaroo opened #13 "I wanna dismiss button and click action"
Can you tell me how to add  dismiss button and click action?

[2017-05-29 10:41] McFcologne commented on #13
You can create a button or a anchor whith the suitable code and append it as another child to the wrapper... But this is somehow against the minimalistic approach.

[2017-07-10 18:08] AlexQuidditch opened #14 "Material Icons?"
Hi! Thanks for awesome plugin! :) I'm glad to use it with Vue.js.
I have a next question: what if I want use Material Icons instead of FontAwesome? How can I do this? :)

[2017-08-11 18:22] alexandermendes opened #15 "Small screen style fix doesn't work"
Probably because there is no `.notyf__container`!

https://github.com/caroso1222/notyf/blob/45e327273fb8d3524f15ab56f75dcb36d35d489a/src/notyf.scss#L186-L195

[2017-10-26 20:50] fibigerg commented on #13
+1 for this feature! Nice minimalistic cross in the right side of the message would boost UX a lot.

[2017-11-01 22:23] tilda commented on #14
Just replace the FA classes with the Material Icon classes.

[2017-11-03 23:28] jgentes commented on #15
+1

[2017-11-03 23:33] jgentes commented on #15
FYI I was able to simply use .notyf and it did the trick:
[code]

[2017-11-05 22:03] jgentes opened #17 "unsafe HTML?"
Curious to know if there's a way to allow notyf.alert(message_with_html) to be displayed properly?

@caroso1222 Your module allowed us to finally toss jQuery from our entire app.. so thanks!!

[2017-11-07 08:55] ayushsharma82 commented on #15
Change notyf__container to notyf to apply Fix. It works perfectly.

[2017-11-21 12:16] #14 closed

[2018-02-21 09:37] olanchuy opened #20 "Programmatically close the notyf?"
Hi, great work on this. Is there a way to close programmatically the notyf?

ex. var notyf = new Notyf();
// NoTe: should return some id
var theID = notyf.confirm();

after some time...
notyf.close(theID);

[2018-03-26 23:22] alexandermendes commented on #15
Sure yeah, was just a note to fix it in the actual code, closing as a PR probably wouldn't be merged anyway (seems a bit quiet).

[2018-03-26 23:22] #15 closed

[2018-03-27 03:41] caroso1222 opened #21 "Sorry for being such an irresponsible maintainer"
I know there are quite several folks out there using this package and I've been such an irresponsible maintainer to abandon my dear Notyf. This was my first open source package and I've been through a lot these last 2 years.

I'm happy to take the lead on the project again, resolve the issues, close/merge the PRs and set a roadmap for Notyf 3.0 with better animations, more features, better API and

[2018-03-27 03:55] caroso1222 commented on #20
Hey!

Thanks for bringing this to my attention. There's currently no way to programmatically close the Notyf. I'll work on this feature and add it on v3.x.

[2018-03-27 03:56] caroso1222 commented on #17
Hey @jgentes sorry for being so silent these last months. I'm so glad to hear you found value in the module. I'll work on adding support for messages with html and add it to v3.x.

[2018-03-27 03:59] caroso1222 commented on #13
Hey guys. Sorry for being silent these last months. I like the idea of adding the close button at the top right of the Notyf. I'll work on this and add it to v3.x.

[2018-03-27 04:04] caroso1222 commented on #11
Thanks both for your input on this issue!

It's a great idea to have those buttons and callbacks, but I have to agree with @toish in that Notyf's mission is to serve as a pretty simple, minimal library to show simple notifications.

I'm going to close this issue but I'm happy to reopen it if someone else brings back the discussion.

Thanks again for your input and sorry for being so silent lately.

[2018-03-27 04:04] #11 closed

[2018-03-27 04:05] caroso1222 commented on #12
Thanks for reporting this issue. I'll take a look at the PR and get this fixed this asap.

[2018-03-27 04:18] caroso1222 commented on #6
Hey! sorry for being so unresponsive in the last year. I'm taking over the project again.

I like the idea of having some way of adding delay between consecutive notifications without having to create new instances. I'll improve the API for 3.x and will take this feature into account.

Thanks again for bringing that up!

[2018-03-28 20:40] ConsoleTVs commented on #6
Great to hear that!

[2018-05-19 20:10] rijkvanzanten commented on #21
Hey @caroso1222!

Hopefully you're doing well 🙂

Do you have any information on the roadmap / _better API_?

[2018-05-19 21:53] rijkvanzanten opened #22 "Idea for 3.0 API"
Hey @caroso1222! Thanks for the project ❤️

I have been thinking about the API and a way to extend the API so it's easier to add more notification types than just `success` and `error`.

Seeing that [the code that makes the two "types" is nearly identical](https://github.com/caroso1222/notyf/blob/57225a37aa2e2cc3ab09faf924d7291e03f3277b/src/notyf.js#L30-L49), it should be pretty "easy" to turn it

[2018-05-19 21:54] rijkvanzanten commented on #22
Love to hear what you think! @caroso1222 @honzabilek4

[2018-05-19 22:16] rijkvanzanten commented on #22
Just thought of another thing! We might want to consider changing the way icons work, seeing that this method is pretty specific to font awesome. If you want to use material design icons for example, it wouldn’t work..

Just thinking aloud here, maybe something like:

Icon:
  - class
  - tag
  - text

could work, where if type of icon is string it defaults to class

[2018-05-21 13:18] honzabilek4 commented on #22
Hey @rijkvanzanten ,
I pretty much like the configuration object you've proposed. However, I think we should use some sensible defaults so you don't always have to fill out all the configuration. Meaning it should work just as fine without any config, while still maintaining the flexibility if needed.
I was also thinking about allowing to override the configuration per function call, but now I dou

[2018-05-22 02:49] caroso1222 commented on #21
Hey @rijkvanzanten, thanks for asking. I don't have a roadmap, can't really abide to a deadline. I've made good progress in v3.0 though. You can see that in the 3.0.0 branch. I've basically made the codebase a lot more maintainable, so most of the stuff is just internals refactoring. I'll post the updates in this thread from now on.

[2018-05-22 02:53] caroso1222 commented on #22
Hey @rijkvanzanten, this is simply awesome, thanks a lot! I really appreciate all the love given to Notyf. It's impressive that this single issue is taking care of a lot of issues, I love it.

I like the API, let's roll it in 3.0.0. I'll also take into consideration the input from @honzabilek4 as having default configs is critical for the success of the project.

Thanks both for this, made my day.

[2018-07-13 18:25] snipervld opened #23 "Custom notification types"
Hi, thanks for such a great library.

For now, there are only two types of notification: `alert` and `confirm` with `notyf--alert` and `notyf--confirm` css classes respectively.
It would be better, if there was a way to add another type of notification or css class. For example, type `warning` (with another class).

Example API:
[code]

Or based on issue #22:

[code]

[2018-12-27 13:43] itsalb3rt opened #25 "z-index"
the z-index in **notyf.min.css** is **1** I think this should be above any element.

I was using leafletjs and the map is in **999**, for obvious reasons the notification did not appear to me and I came to think that it was problems of the api.

I have placed this in 1005 on my fork

[code]

[2018-12-31 12:27] axZerk opened #26 "Unsafe dependencies"
Was in a process of making PR with some tiny changes. Probably should update dep versions just to be safe.

[npm audit image](http://take.ms/tDSGa)

[2018-12-31 15:04] axZerk commented on #25
@itsalb3rt I submitted a pr for this issue, maybe it gets accepted and this issue will be resolved https://github.com/caroso1222/notyf/pull/27

[2019-01-01 21:38] itsalb3rt commented on #25
Great!

[2019-01-02 13:49] axZerk commented on #21
I will try to help fix some minor bugs in version 2 and contribute to 3.0 release.

[2019-02-20 02:26] alexz006 opened #28 "Automatic width + Bootstrap adaptation (box-sizing)"
Hi, maybe someone will like it https://jsfiddle.net/9tehLvpx/

[2019-03-20 01:00] caroso1222 commented on #12
Fixed in v3.0.0.

[2019-03-20 01:00] #12 closed

[2019-03-20 01:03] caroso1222 commented on #17
As promised, v3.0.0 now supports toasts with HTML content. Thanks for the idea.

Marking this as resolved.

[2019-03-20 01:03] #17 closed

[2019-03-20 01:05] caroso1222 commented on #6
v3.0.0 has been released and 'delay' has been renamed to 'duration', as suggested. Thanks for the idea!

[2019-03-20 01:05] #6 closed

[2019-03-20 01:07] caroso1222 commented on #21
I finally released v3.0.0! It's looking rad. Thanks for the patience and sorry for taking too long! 🙏

[2019-03-20 01:07] #21 closed

[2019-03-20 01:15] caroso1222 commented on #26
Sorry for the late response. Thanks for bringing this up. v3.0.0 has just been released and the npm critical vulnerabilities have been all fixed. I'll mark this as resolved and put the npm audit log here for reference:

[code]

[2019-03-20 01:15] #26 closed

[2019-03-20 01:21] caroso1222 commented on #7
v3.0.0 has been released with support for these features. Thanks for the idea!

[2019-03-20 01:21] #7 closed

[2019-03-20 01:22] caroso1222 commented on #20
v3.0.0 has been released with a lot of cool things. I left this for 3.1.0 as I didn't really got time to add this feature, but it's on the roadmap for sure.

[2019-03-20 01:22] caroso1222 commented on #13
v3.0.0 has been released with a lot of cool things. I left this for 3.1.0 as I didn't really got time to add this feature, but it's on the roadmap for sure.

[2019-03-20 01:34] caroso1222 commented on #23
Thanks for this idea! v3.0.0 has been released with full support for registering new types as requested. Here's how to do it:

[code]

[2019-03-20 01:34] #23 closed

[2019-03-20 01:38] caroso1222 commented on #25
Fixed in v3.0.0. Thanks a lot everyone for your input and help!

[2019-03-20 01:38] #25 closed

[2019-03-20 01:41] caroso1222 commented on #28
Thanks for this. I took this suggestion to fix the rendering in v3.0.0. Width is adapted to its content now:

![2019-03-19 20 40 13](https://user-images.githubusercontent.com/3689856/54653078-52b2ca00-4a87-11e9-973a-8b89db5f9057.gif)

[2019-03-20 01:41] #28 closed

[2019-03-20 01:44] caroso1222 commented on #22
Hey everyone. I finally released v3.0.0 and this issue was the cornerstone of this major release. Thanks everyone for the great ideas and suggestions on this thread. I've mentioned you all guys in the credits for 3.0.0.

There are still some things in the roadmap like the ability to programmatically close the toasts, but I'll release that in 3.1.0 for sure.

Thanks again, you're the best.

[2019-03-20 01:44] #22 closed

[2019-03-20 10:26] mmokross commented on #7
Cool! 👍  Sorry, I forgot to answer to your request!

[2019-03-20 21:38] ConsoleTVs commented on #6
You're welcome!

[2019-03-21 13:33] axZerk opened #30 "Problem with styling in a specific viewport range"
Took the new version for a spin and here is what happened - at some point ripple effect styling gets weird. Please see very short screen recording below that has all the required info.

PS: with `ripple: false` styling is fine

[Screen recording](https://monosnap.com/file/sjtqYoT5DsV0wLU1o3SjfGFY9pt5Bb)

[2019-03-21 14:12] caroso1222 commented on #30
Good catch Alex. I'll need to work on the full range of viewport width. I added the ability to disable the ripple precisely for this, I knew the ripple was going to fail at some unexpected point.

I'll work on the fix and release asap, thanks!

[2019-03-21 22:52] #30 closed

[2019-06-10 17:07] broofa opened #34 "Upgrade guide URL (docs.psb.codes) 404'ing"
This URL (mentioned in log message about upgrading) is 404'ing
https://docs.psb.codes/redux-promise-middleware/upgrade-guides/v6

[2019-06-10 17:08] broofa commented on #34
Whups, wrong project.  Sorry!

[2019-06-10 17:08] #34 closed

[2019-07-15 06:59] azhararmar commented on #20
Close option would be good, is it coming anytime soon? a button to dismiss would also be good.

[2019-09-22 16:32] micobarac opened #36 "The plugin needs an option to setup position"
The plugin needs an option to setup position (top-left, top-center, top-right, bottom-left, bottom-center, bottom-right, middle-left, middle-center, middle-right).
Currently, it's stuck to the bottom right.

Btw, it's a great plugin!
Thanks for all the effort you've put into it.

[2019-09-23 01:55] caroso1222 commented on #36
That's a great idea. I've been postponing this feature just for simplicity reasons, didn't know people needed it. I'll work on this soon!

[2019-10-01 05:40] okucheruk opened #37 "Close the toast with a close button and unlimited duration"
Please add features to `Notyf`:
- ability to close the toasts with a close button,
- possibility to specify unlimited duration.

[2019-10-01 11:44] caroso1222 commented on #37
Thanks for opening the issue! I'll work on this ASAP.

[2019-10-01 14:37] okucheruk opened #38 "Styles are broken in case of long message"
Hi Carlos.
Toasts style are broken in case of long message.

![Screen Shot 2019-10-01 at 5 31 18 PM](https://user-images.githubusercontent.com/50623030/65971799-73fe6500-e471-11e9-8d28-1c45ace83d9d.png)

Repro steps:
[code]

[2019-10-01 14:50] okucheruk commented on #38
Issue related to `notyf__ripple` css class.

Workaround: `ripple: false`

[2019-10-01 15:07] caroso1222 commented on #38
Good catch. So, does it work fine when you disable the ripple?

[2019-10-01 21:05] okucheruk commented on #38
Yep

![Screen Shot 2019-10-02 at 12 05 07 AM](https://user-images.githubusercontent.com/50623030/66000551-54cefa00-e4a8-11e9-9450-75124ceb8c76.png)

[2019-10-01 21:18] caroso1222 commented on #38
Nice! I'll close this issue then. Ripple is only there for short standard messages. Disabling it for some longer messages is the intended solution. Thanks for reporting it!

[2019-10-01 21:18] #38 closed

[2019-10-02 02:34] Mapiac opened #39 "Popup Modal Library"
Because this is such a beautifully well-written toaster lib, I'd be remiss not to ask if you have any recommendations for similar modal/popup libs. Maybe not the place in which place close it but this lib is fantastic so well done.

[2019-10-15 13:40] okucheruk opened #40 "`Remove all toasts on the screen` feature required"
Since Notyf adds `Div`s at body level toasts are present even if the URL of the application was changed by the user.

It is required to have a method to remove all active toasts on the screen.

[2019-10-29 03:46] caroso1222 commented on #40
Thanks for opening the issue. Yeah, that feature would be useful. I'll work on it.

[2019-10-30 08:54] caroso1222 commented on #39
Thanks for the comment! I think there are plenty of modal libs out there but can't really recommend one, haven't tried much lately.

[2019-10-30 08:54] #39 closed

[2019-11-13 02:48] resuta566 opened #43 "Positioning of the toast, how?"
How would I change the position of the toast? Will it be included in the future release? I am using Angular 8.2.11. Thanks :)

[2019-11-13 04:34] caroso1222 commented on #43
Yeah, duplicate of https://github.com/caroso1222/notyf/issues/36. I'll work on this for the next release.

[2019-11-13 05:32] resuta566 commented on #43
Oops, sorry I didn't see that. btw thanks, this is very beautiful :+1:

[2019-12-11 12:14] mdix opened #44 "Internet explorer compatibility broken"
Using `findIndex` w/o polyfilling breaks notyf in all available Internet Explorers.

Usage:
https://github.com/caroso1222/notyf/blob/694728ea786b4b391dac17ad60616d8b4b121076/src/notyf.ts#L73

Error in Internet Explorer:
![Screenshot 2019-12-11 at 13 02 18](https://user-images.githubusercontent.com/1155015/70620603-01032e80-1c18-11ea-87bf-d622156bb1c8.png)

[2019-12-11 21:32] caroso1222 commented on #44
Good catch, thanks for opening the issue. I didn't really have any plans of supporting IE (unpopular opinion, I know) but if this is the only pain point to make it work in IE then I'll look into it and fix it in the next patch. Thanks again for noting it!

[2019-12-11 22:23] mdix commented on #44
Thanks. I'm glad to hear that and yes, it is the only thing that prevents notyf from working in IE11. After I polyfilled `Array.prototype.findIndex` everything worked as expected.

[2019-12-11 22:26] mdix commented on #44
You can just put [this](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/findIndex#Polyfill) in a file and use it, I guess.

[2020-01-03 16:36] amusedberry commented on #36
At least for my use case, I only require a specific position.
This is not optimal, but a workaround while this feature is released is to overwrite the `.notyf` class:

[code]

[code]

Notice how I set `bottom` to auto, to overwritte `bottom: 20px;` on the original file, and added a `top: 60px;` to position them to the top, after my navigation bar.

Same thing can be done with `right` if you want t

[2020-01-04 01:28] kenberkeley commented on #37
+1

[2020-01-06 10:52] terales commented on #44
@caroso1222 would you accept a PR on this?

I'll just implement the old way of finding an index instead of a modern "findIndex" method to make it usable without any polyfills.

[2020-01-18 20:26] caroso1222 commented on #44
Hey @terales. Sorry for the late reply, still coming back from holidays. Yeah definitely, thanks! Take a stab at it and I'll review the PR.

[2020-01-30 12:07] bes-internal opened #45 "custom icon color set as background color"
https://github.com/caroso1222/notyf/blob/21cee095f5b0163907ec02242852823c456ac0a5/src/notyf.view.ts#L94
It turns out that the icon becomes the background color. It should be the color of the text or set as a separate options.

[2020-01-31 03:28] caroso1222 commented on #45
Thanks for noting it. I'll take care of that in the next release.

[2020-02-05 14:45] franciscoD96 commented on #37
any news ?

[2020-02-19 12:10] prince272 commented on #43
Please what's the center postilion css

[2020-03-09 16:36] Jesspu commented on #43
If you want to move it to the left side, I did this in my css.

.notyf {
  right: auto !important;
  left: 30px !important;
}

Guessing at some point it will be supported, but this works for now.

[2020-03-25 15:15] caroso1222 commented on #43
Closing. This feature has been introduced in https://github.com/caroso1222/notyf/pull/48 and is available in `3.2.0`.

Thanks for the report and the follow-up!

[2020-03-25 15:15] #43 closed

[2020-03-25 15:19] caroso1222 commented on #36
Closing. This feature has been introduced in https://github.com/caroso1222/notyf/pull/48 and is available in `3.2.0`.

Thanks for the report and the follow-up!

[2020-03-25 15:19] #36 closed

[2020-03-26 18:07] caroso1222 commented on #13
Closing as resolved in https://github.com/caroso1222/notyf/pull/51. This feature is now available in v3.3.0.

[2020-03-26 18:08] #13 closed

[2020-03-27 14:17] #40 closed

[2020-03-30 15:24] caroso1222 opened #55 "Custom background colors not accepting gradients"
The following config won't properly work:
[code]

This is because we're setting the CSS property `backgroundColor` instead of setting `background`. Linear gradients are considered to be [images](https://developer.mozilla.org/es/docs/Web/CSS/linear-gradient) and, as such, should be rendered with `background-image` or the shorthand `background`.

I think the right way to do this is to introduce a ne

[2020-03-30 16:05] #55 closed

[2020-04-02 09:30] terales commented on #44
@mdix can you prepare a PR, please?

I'm on Ubuntu since January and it seems that I would be without available Windows machine for a while now.

[2020-04-02 12:55] #44 closed

[2020-04-02 12:57] caroso1222 commented on #44
Fixed it already. Thank you all for the help! 😃

[2020-04-06 21:07] #37 closed

[2020-04-10 13:55] bharatramnani94 commented on #20
Hey @caroso1222
Currently, the `success`, `error` and `open` methods do not return anything.
Maybe they can return the `notification` (of type `NotyfNotification`), which can be passed to a new `dismiss(notificationToDismiss: NotyfNotification)` method to achieve this functionality.
Let me know what you think. Maybe I can take this issue.

[2020-04-10 14:25] caroso1222 commented on #20
Hey @bharatramnani94. Yeah, I like that. Thanks for bringing it up again.

I'm still not sure whether to go functional on this one like a method `dismiss(notification)` on the global instance or OOP-style in the notification instance `myNotyf.dismiss()`.

I'm inclined towards the former as I don't think a notification should be able to call itself dismissed, only the master should. (Just thinking

[2020-04-22 19:17] 64J0 opened #64 "CDN version"
Please, add a CDN link version, so we can use this package with only vanilla js.

[2020-04-22 19:19] caroso1222 commented on #64
Hadn't thought about that. I will definitely do it.

I have never done so, do you have any recommendations? I mean, something that will also allow to manage and publish versions appropriately?

Thanks for the suggestion!

[2020-04-22 19:28] 64J0 commented on #64
I have never done this too, but this guy made: https://github.com/apvarun/toastify-js. He made a feature like yours too.

[2020-04-23 15:47] caroso1222 commented on #64
I think it's a great idea so I'll leave this one open.

[2020-05-08 21:09] caroso1222 commented on #64
I just realized notyf is already getting 93k hits a month on jsdelivr! I updated the docs with the link to jsdelivr. Thanks again!

[code]

[2020-05-08 21:09] #64 closed

[2020-05-08 21:37] caroso1222 commented on #20
Closed in https://github.com/caroso1222/notyf/pull/63. Credits to @bharatramnani94.

[2020-05-08 21:37] #20 closed

[2020-05-10 11:20] bharatramnani94 commented on #20
Honestly, all credit goes to you @caroso1222. You did the heavy work for it. I'm just glad that this got done.

[2020-05-13 09:48] ispal opened #67 "Error if trying to use library before body is found"
Hi,

I just noticed that this library doesn't work if it's used in a script included in the `head` section of the page (before the body is in place). It also requires script tag to not have `defer` attribute.

It boils down to this line
https://github.com/caroso1222/notyf/blob/27cd61ad8726f21fcab2add9b58799d92aac9d2f/src/notyf.view.ts#L34

It will give the following error: `Cannot read property 'a

[2020-05-14 11:46] caroso1222 commented on #67
Hey! Hmm good catch. Just wondering, why do you need it to work on the head? scripts like this library are generally meant to be placed on the body bottom so that it doesn't block initial rendering and can also make use of the body.

Can you please give a bit more context on why you need it on the head? Maybe there's another way around.

[2020-05-15 18:47] ispal commented on #67
It's just in my local development setup (CMS site). I have it in the head because otherwise there's a flash of unstyled content. I have a webpack dev server in use and the styles are injected when the script is executed. It's a minor issue but still a bit annoying 😄. It's kind of my issue maybe now when I think. I just wanted to let you know.

[2020-05-15 18:47] #67 closed

[2020-05-25 08:47] sharifzadesina opened #68 "Pause on hover feature?"
This will pause the timeout when user hovers the notification.

[2020-05-26 19:57] caroso1222 commented on #68
I never thought about it but sure it might be a nice feature. I'll work on it. Thanks!

[2020-06-14 20:37] frederikhors opened #71 "Use it with Svelte"
It would be amazing to use this in a [Svelte](https://svelte.dev/) project.

[2020-06-17 07:30] luongvanphuc commented on #11
@caroso1222 I've recently replaced toastr with notyf, and found that notyf doesn't have callback options, so I had to come back with toastr.

Personally I think the buttons may be not necessary but the callbacks do. Sometime we want to redirect user to somewhere after clicking on the noti.

I raise my idea here because my company app is really big and the bundle size is a big problem. It's best if

[2020-06-17 09:38] luongvanphuc commented on #45
+1
I have to override the style manually:
[code]

[2020-06-18 10:34] mgrubinger opened #72 "Script Injection possible"
Hi! Thanks for this nice toast plugin!

Just wanted to let you know that i is possible to inject malicious code due to the usage of innerHTML. It's easy to test on the demo site as well by entering a message like:
`They see me rolling <img src=x onerror='alert("hi");' />`
or
`They see me rolling <img src=x onerror='alert(document.cookie)' />`

Please consider escaping `message` in some way or repl

[2020-07-01 12:25] zwjohn opened #73 "Feature request"
This is a great library and I use it on my site, however, it would be nice to change the configuration dynamically. For example, after a Notyf object is created with dismiss disabled, I want to enable dismiss feature on the fly base on some conditions, or change duration. This is currently not possible. It would be nice to be able to configure these configurations.

Thanks for your works

[2020-07-07 18:48] caroso1222 commented on #71
That's a great idea. I'll work on it!

[2020-07-07 18:49] #71 closed

[2020-07-07 19:18] caroso1222 commented on #73
I see. I think you can solve this in 2 ways:

1. All the global properties can be overridden for individual notifications.

[code]

2. You can make use of the public property `options` in your Notyf instance to create a new instance
[code]

Let me know if you can work it out this way.

[2020-07-07 19:23] caroso1222 commented on #72
Hey Martin! Thanks for bringing this up. I was aware of this issue when I built support for custom HTML. I decided to offload the responsibility to sanitize the content to the developer. I don't want Notyf to be too smart, to be honest. I'd rather have it be a dumb component even if it comes at the cost of such liability.

Your point is valid, though. I'll add a warning in the docs to make sure de

[2020-07-07 19:23] #72 closed

[2020-07-07 19:26] zwjohn commented on #73
Base on my understanding, I am afraid both would not work, as I have form control with states maintained in the first notification, both of your solutions will cause re-rendering of the notification, hence the state will be lost. Thanks!

[2020-07-07 19:52] caroso1222 commented on #73
Oh! I see. So you need the notification to change in "real-time", not just re-render the notification.

I agree that's a cool feature, but it's unfortunately not in the scope of what I envision Notyf to support, at least in the near future. It's meant to be a middle ground between a basic and a complex toaster, and I think this feature fits into the advanced type.

Thanks for opening the issue! I'

[2020-07-07 19:52] #73 closed

[2020-07-07 21:17] caroso1222 commented on #45
I've been working on this lately. As you all mentioned, I realized this was a poor design choice from the beginning. I can't change the current behavior, though, as it would break the default functionality for a lot of people: they are changing the toast background and they expect the default icon to change accordingly.

That being said, the only workaround I can see here is to allow users to chan

[2020-07-07 21:23] caroso1222 commented on #11
Thanks for your input @luongvanphuc. I've just opened a PR adding Notyf events. You'll now be able to listen to 'click' and 'dismiss' events.

[code]

On the other hand, Yes/No callbacks can be implemented using custom HTML in the message content.

[2020-07-08 07:16] jagracey commented on #72
@caroso1222 I appreciate the work you put into developing and designing Notyf. That said, I hope you can reconsider @mgrubinger's proposal of essentially [changing line 174](https://github.com/caroso1222/notyf/blob/2de6f70aa8d6012e2b61a3011c0a157f1ea83866/src/notyf.view.ts#L134) from `message.innerHTML = ...` to `message.textContent = ...`.

As an open-source developer it's okay to de-scope featur

[2020-07-08 18:58] caroso1222 commented on #72
Hey @jagracey. Thanks for your input! I understand the concern. In my view, there are two things to consider here.

First, `textContent` is by no means an alternative to `innerHTML`. It's a very different feature. Changing that line would result in breaking changes as you'd no longer be able to render notifications like `'You scored <b>500 pts </b>!'` which was a feature requested by the community

[2020-07-09 15:40] kith-and-kin commented on #11
This would be great. I'd love a callback functionality on the dismiss button especially, so we can save whether a message has been dismissed by way of cookie.

[2020-07-09 16:04] caroso1222 commented on #11
@kith-and-kin yeah, that functionality is on the [PR](https://github.com/caroso1222/notyf/pull/74/files#diff-04c6e90faac2675aa89e2176d2eec7d8R137-R150) too. I'm just waiting for Friday to review my PR with a fresh brain. It'll be released on v3.8. Thanks for your input!

[2020-07-09 16:59] jps1st opened #78 "Will a UMD be released with the library?"
Hi. Thanks for building this great lib. It's an integral part of one of our libs so we'd love to have a UMD for it since it'll be used in multiple projects that come together at runtime. We're using webpack externals for the libs that are commonly used and I guess other people would do so for sure.

Will a UMD file be released with the library? Again thanks for the work.

[2020-07-13 11:56] #45 closed

[2020-07-16 07:01] dtouffut opened #80 "Problem when using with React 16.2.0"
Hello, your bookstore is great! I love it!
I have a problem using it with react in version 16.2.0
At the creation of new toasts, this one will recreate each time new div parent. What is hugely cluttering the DOM and is not really clean ... Do you have a solution? Thank you in advance!

![image](https://user-images.githubusercontent.com/68369782/87637664-dbf11400-c742-11ea-9467-6bc6cf941d92.png)

[2020-07-16 22:26] caroso1222 commented on #80
Thanks for letting me know! Can you please post here the code you're using to display Notyf in your project?

Maybe you're creating a new Notyf instance every time, which is undesired. I can also investigate if that's the issue on my side.

For now please share some code. That'll help me triage better. Thanks!

[2020-07-17 06:27] dtouffut commented on #80
With pleasure! At first I have this function below in which I pass a parameter and which allows me to make the toasts
[code]
Then I use a render function to create a context menu where I call different types of toats according to actions
[code]
The problem could be: that each contextual menu being a different instance instantiates so different toasts each time ...?
I will dig a little more in this

[2020-07-17 06:39] dtouffut commented on #80
I just solved my problem, so that the Notyf const is usable in all my component in one single instance I declared it and exported it like this before the class component:

`export const notyf = new Notyf({...})`

Thank you very much for your orientation, you helped me again I really like your library

[2020-07-17 06:39] #80 closed

[2020-07-23 06:34] Strajk commented on #78
+1

I would like to use this lib in Chrome extension without a build step. Chrome Web Store disallows minified code, so I cannot really use `notyf.min.js`

[2020-07-23 16:03] #78 closed

[2020-07-23 16:26] caroso1222 commented on #78
Thanks @Strajk! The UMD is already available in version 3.9.0.

[2020-07-24 14:52] Strajk commented on #78
@caroso1222 awesome, thanks!

I still consider myself new to open source world and so far I have only the best experience :) 

https://www.youtube.com/watch?v=StTqXEQ2l-Y

[2020-08-04 06:59] Herve-M opened #84 "[Bug] `duration` option to `0` don't make it infinite"
Hello :-)

## Describtion
When setting `duration` option to `0`, notification should be visible until the user close/click it (with `dismissible` or not) following the documentation.

### Expected behavior
Setting `duration` option to `0`, notification must be visible until the user close/click it.

### Actual behavior
Setting `duration` option to `0`, notification is visible only for a fraction o

[2020-08-06 12:53] otahirs opened #85 "Ripple effect is broken on long messages."
![Screenshot from 2020-08-06 14-45-57](https://user-images.githubusercontent.com/24588500/89533424-b01df700-d7f3-11ea-8110-d4e5a565eb90.png)

...
off-topic personal opinion follows: The ripple effect is cool and all, but I would consider turning it off by default. The non-ripple animation seems more _mature_ to me.

[2020-08-06 12:56] otahirs commented on #85
duplicate #38

[2020-08-06 12:56] #85 closed

[2020-08-30 13:10] josuemontano opened #86 "Renew SSL certificate of the demo site"
The SSL certificate of the demo site expired a few days ago.

<img width="592" alt="Screen Shot 2020-08-30 at 9 09 12 AM" src="https://user-images.githubusercontent.com/1854377/91659866-86798800-eaa0-11ea-92b6-4851c255a0d3.png">

[2020-09-03 05:10] caroso1222 commented on #86
Thanks for noting it. I was moving countries and couldn't find time for this. It's fixed already.

[2020-09-03 05:10] #86 closed

[2020-09-07 17:55] LewisLarsen opened #87 "[Feature Suggestion] SVG Icons"
First of all, I love this notification library, great job!

An improvement to this library would be to allow the use of SVG icons, this change would lessen dependencies on font icon kits and expand the number of icons that can be used with this library.

[2020-09-08 23:05] Ziyadsk opened #88 "Couldn't change the text color"

[2020-10-16 16:24] hmz777 opened #89 "Adjust notification size with javascript"
As you can see from the photo below, large content doesn't play well with notyf because the notification container's width is limited to 400px.
![chrome_0uhLcWWhFY](https://user-images.githubusercontent.com/38891601/96282453-70d60880-0fe3-11eb-88bb-83900cb216f6.png)

Which is fixable using the `className` option, but now the ripple effect is broken because it's also set to 400px

Can we add an opt

[2020-11-23 08:35] hloehrmann opened #90 "Make interface properties optional"
It would be great if the interface properties would be optional so I can type them without implementing all members.

Currently this leads to a typescript compiler error:

[code]

I can make a PR if appreciated.

[2020-11-28 16:48] RichieMcMullen opened #91 "Feature Request"
Would be great if we could have additional default methods for :

Info (Light Blue Background)
```php notyf.info({......});```

Warning (Orange Background)
```php notyf.warning({......}); ```

[2020-12-20 20:05] Zaffer opened #93 "Feature: add .info .warning"
Hi please add the .info and .warning as standard. This way it will be compatible for me to move over from toastr js (https://codeseven.github.io/toastr/)

will also be nice to implement their feature set with your nice styling and features.

Great plugin by the way!

Thanks!

[2021-01-23 15:50] XternalSoft commented on #93
Hello @Zaffer ,

You can create a custom type

https://github.com/caroso1222/notyf#custom-toast-type

[2021-01-24 10:39] Zaffer commented on #93
Thanks for the response, however this does not help my situation. As I explain in my request; the only way to make it compatible with my existing code is if I can insert the following string directly into my JavaScript <script> tag: ".info('information')" ".warning('be careful')".

If there a way for the custom tags to be callable with the same function structure once created? This is will super u

[2021-02-15 22:19] TommasoDb opened #95 "How to change font of the notification"
Hello,
I would like to change the font of the notification to a sans serif one but this is not mentioned in the documentation.
Using the code example I get a serif font:
![Screenshot from 2021-02-15 09-18-00](https://user-images.githubusercontent.com/11291183/107997740-d236d400-6fe3-11eb-86fe-9c31bdb4f581.png)

Thanks!

[2021-03-09 03:37] scottbarrow opened #96 "allow adding of data attributes"
When notfy is used with modern Multi page applications e.g. Rails, using Stimulus, Stimulus Reflex or Turbo - it is often required to have elements persist throughout page refreshes or DOM diff replacements.
Currently `NotyfView` adds the `.notyf` container dynamically when first instantiated, and only once, however this does not survive page reloads even through a memoized instance of Notyf would

[2021-03-31 16:04] iain-tel commented on #89
A great idea, however I had to use the following scss, to get the same result as above...

`//A custom class applied via className option.
.notyf__toast {
    max-width: 50em !important;

    .notyf__ripple {
        width: 60em;
    }
}`

[2021-04-05 23:33] BlueWater86 opened #99 "Inability to wait for NotyfNotification to be spliced"
Usecase: Run another method once a NotyfNotification is added, dismissed or the timeout expires.

I assumed that with the NotyfNotification class now including on and triggerEvent  methods, an event would now be triggered when a notification was removed/added. It appears that triggerEvent is only used to trigger user input events.

Do you have anything against calling NotyfNotification.prototype.t

[2021-04-29 20:10] AbrahemAlhofe opened #100 "[Feature Suggestion] Passing HTML element to icon option"
Provide a possibility of passing HTML element to icon option as a shorthand of their config to increase a possibility of customization beside the traditional way

[code]

[2021-05-28 04:12] chrisleekr opened #104 "[Feature Request] No stacking notifications"
First of all, this notification project is very easy to use and pretty CSS. I just started using it for my project.

I just have one feature that I want to have is, not stacking the notifications.
When there is a new notification, I want to close the current notification and display a new one.

Workaround for this feature is using `dismissAll()`, but it still makes stacking notifications before di

[2021-05-28 05:38] chrisleekr commented on #104
Hi @caroso1222

I actually updated your code to have a new option `maxStack`.
Could you take a look?
https://github.com/caroso1222/notyf/pull/105

[2021-05-28 16:09] caroso1222 commented on #104
Thanks for bringing this to my attention, @chrisleekr. A few things come to my mind:
- What happens when you want to launch a new notification after the max stack has been reached? does notyf show it, or dismiss it?
- Can you please update the jsfiddle? I see it empty

[2021-05-29 12:35] chrisleekr commented on #104
@caroso1222

What happens when you want to launch a new notification after the max stack has been reached? does notyf show it, or dismiss it?
- I found simply removing the last notification from the DOM works as expected. And then display a new notification.
- https://github.com/caroso1222/notyf/pull/105/files#diff-4b2fa43eb39ef49cb0f3bf51b34c98414b01e75f395e92f1a85afde93bf54aefR90

Can you please

[2021-06-03 18:27] AbrahemAlhofe commented on #87
Just pass the svg icon as a string
[code]

[2021-06-03 18:32] #100 closed

[2021-06-03 18:55] caroso1222 opened #106 "Run Cypress on CI"
We should run Cypress on CI, probably using Github Actions. I'd first try to run them on every PR commit.

[2021-06-03 19:43] caroso1222 commented on #106
Ran a PoC here in this [repo](https://github.com/caroso1222/cypress-gh-action). That looks promising. I'll probably take some time next week to get it done.

[2021-06-04 20:51] caroso1222 commented on #106
Closed in https://github.com/caroso1222/notyf/pull/107

[2021-06-04 20:51] #106 closed

[2021-06-08 21:04] AbrahemAlhofe commented on #68
Is there is any one works on this feature or can I take it

[2021-06-15 11:39] AbrahemAlhofe opened #110 "[ Feature Request ] Pause on hover"
# Purpose
This feature will lets the user to read the long notification's message

# Behavior
If we have put the duration 4 seconds, and the user hovered the notification on the third second the Notyf will clear the timer, later when the user leaves the notification, Notyf will resume the timer from the last second it stopped at, this second would be the third second until the end of duration ( 4

[2021-06-17 11:15] AbrahemAlhofe opened #112 "[ Feature Request ] Use vscode remote containers"
# Purpose
vscode remote containers provide a lot of features

- No clone you need to start
- No versions hassel, we can use an old version of any tool
- No package installation hell
- No pollution for developer's environment because we can provide our task and extensions isolated from his own ones
- Standard environment for all

# Implementation
1. Add docker
2. Modify github actions
3. Update CON

[2021-06-23 07:00] hamzahsn opened #113 "Allow custom css to be injected"
Currently, we're using this library to generate notification our own notification, but the issue is that we're not able to add some custom styling such as positioning, we know that currently there `INotyfPosition` which allow us to provide something like the following:

[code]

Where as you can see I'm only allowed to provide description of the positioning.

**Desired behavior:**

I would be able

[2021-06-24 13:39] n1lsik opened #114 "Using long text"
If I write a long text in the "message" parameter, then the notification rounds up strangely and the text does not fit. Are there any options to fix this? Thanks!

![image](https://user-images.githubusercontent.com/13744829/123272688-aa63f980-d50a-11eb-9e5c-02c72e2bf5b9.png)

upd. I find fix
`.notyf__toast {
	max-width: 24em !important;
}

.notyf__ripple {
	height: 60em !important;
	width: 60em !i

[2021-06-27 22:37] #114 closed, assigned to nobody

[2021-06-30 15:20] PeterHuefner commented on #6
Is there any possibility to handle multiple notifications? In my tests they overlap themselves.
It would be nice when they position automatically as a list. As the toastr lib does (but it depends on jquery, that's why I come up to your cool lib).

[2021-07-03 10:28] shubham2924 commented on #84
Yes @Herve-M you're right setting 0ms as duration value doesn't make it infinite.
https://carlosroso.com/notyf/ on their this demo website setting duration to null value makes it infinite
But yes creators eventually need to fix this ASAP.
Thanks,
shubham

[2021-07-10 09:39] gaetangr opened #115 "Link to the documentation flag as insecure"
Just to let you know, I tried visiting the documentation on your website and Safari is letting me know that your HTTPS certificate is now longer safe since 13 days

[2021-11-10 16:26] calebbergman opened #117 "[Feature Request] Config option for a custom node to attach toast notifications"
I have a [vite](https://vitejs.dev/) project that utilizes [postcss-scopify](https://github.com/pazams/postcss-scopify) to scope styles to the application. This has the side effect of scoping 3rd party node_module package styles as well, such as notyf, which is generally ok. However, due to the fact that notyf defaults attaching the toast 'view' directly to the body, this leaves the toasts documen

[2021-11-10 20:51] calebbergman commented on #117
As a work around you can take advantage of dynamic module imports to re-create the original stylesheet at runtime. Not ideal, but works - while debugging, that is. See next comment for better solution.

[code]

[2021-11-16 17:12] calebbergman commented on #117
The above worked fine while debugging. Post build, when everything was bundled up, not-so-much. After some more Rollup/Vite learning, I came up with the following plugin to selectively undo postcss-scopify's affects.

[code]

[code]

[2021-11-24 14:39] gaetangr commented on #115
No longer flag as insecure https://carlosroso.com/notyf/

[2021-11-24 14:39] #115 closed, assigned to nobody

[2021-11-30 23:40] nd3w opened #118 "How to make a notification appear only once"
How do I make a notif appear only once? When I went back from another page, the notif was appearing again.

[2021-12-01 09:10] AbrahemAlhofe commented on #118
Add a cookie on each path that your user have visited, so if they returns back again to the page that includes the cookie you can prevent notyf from appear

[2022-02-03 13:57] stanciupaul commented on #110
Any news on this?

[2022-02-28 09:42] TixieSalander opened #122 "Website SSL certificate expired"
Hi!
The Notyf SSL certificate is expired since Februrary 7th.

![Screenshot 2022-02-28 at 10 40 13](https://user-images.githubusercontent.com/2143796/155960567-00429d21-1ccd-4e66-8058-82a73b024d6f.png)

I hope it's just an oversight and that everything is going OK for you ❤️

[2022-03-21 15:36] hecoco opened #123 "I don't know how to properly set the position value on vue？"
`provide:()=>{
    return {
      notyf:new Notyf({
        duration:2000,
        ripple: true,
        position: {
          x:'center',
          y:'center',
        },
      })
    }
  },`
This setting will not appear in the middle of the page
how should i set

[2022-03-21 15:46] hecoco commented on #123
@rnmp @miguelcobain @Strajk @stramel

[2022-04-05 07:13] paulocoutinhox commented on #104
Hi,

There is any method that clear all before show new notification (or a parameter)?

Thanks.

[2022-06-09 01:42] vedantroy opened #124 "Will this work inside of a shadow DOM?"
Will this library work if the React component is placed inside a shadow DOM?
If not, is there a quick way to patch this library so it works inside a shadow DOM?

[2022-06-29 07:26] ghost opened #125 "How to make the notification called only once. And he didn't write it into the document every time he called."
When using notify, every time I call it, it initializes in a new way and adds the same blocks to the dom
![Screenshot_21](https://user-images.githubusercontent.com/58338625/176377287-bd9dec94-8790-408e-aa94-aa20e9160c21.jpg)
![Screenshot_22](https://user-images.githubusercontent.com/58338625/176377354-2e6258a8-2777-442d-828c-1d6e4bc918d4.jpg)
.

[2022-07-09 08:38] #125 closed, assigned to nobody

[2022-08-08 19:46] TECKSPEED commented on #84
Has this been fixed? Or has anything been looked at? I may be looking for an alternative as the bug fixes and such seem lacking

[2022-10-10 15:19] OSU78 commented on #95
Hi, I hope you found a solution to your problem.
If you want to change the font, I did it by using the class .notyf__message in your css and by applying the font you want.
Exemple :
`
.notyf__message {
    font-family: sans-serif !important;
}`